body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    padding-left: 0.8rem;
}

#sidebar {
    height: 100%;
    padding: 0;
}

#titleNav {
    padding: 1rem;
}

#authorNav {
    padding: 12px;
}

#goToTopButton {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    background-color: #2f89fc;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.listItem {
    font-size: 1.4rem;
}

.subListItem {
    font-size: 1.1rem;
}

.listItem:hover, .subListItem a:hover {
    text-decoration-line: underline;
}

.section {
    margin-bottom: 0.9rem;
}

.githubLink {
    padding: 1rem;
    text-decoration: none;
}

table {
    width: 100%;
}
td {
    width: 25%;
}

.ptext {
    text-indent: 30px;
    font-size: 1.1rem;
    
}

.section {
    margin-top: 30px;
}